.content {
    display:flex;
    align-items:baseline;
    gap:1rem;
}

h1 {
    color:white;
    line-height: 3rem;
    padding-left: 20%;
}

.headerBar {
    background-color:rgb(28, 13, 96);
    /* make it a gradient */
}